// Setting all fonts!

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Roboto , sans-serif;
  font-weight: 700;
  margin-bottom: 0.5em;
  line-height: 1.1em;
  color: $black;
}

p, blockquote, pre, span, div, a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  // font-size: 18px;
  
  
}

p {
  margin-bottom: 1em;
}


h1 {
font-size: 4rem;
//This text will scale between 35px at 400px and 60px at 1440px.
font-size: clamp(2.188rem, 1.587rem + 2.404vw, 3.75rem);
}

h2 {
font-size: 4rem;
//This text will scale between 35px at 400px and 60px at 1440px.
font-size: clamp(2.188rem, 1.587rem + 2.404vw, 3.75rem);
}

h3 {
font-size: 2.5rem;
//This text will scale between 30px at 400px and 40px at 1440px.
font-size: clamp(1.875rem, 1.635rem + 0.962vw, 2.5rem);
}

h4 {
font-size: 2rem;
//This text will scale between 18px at 440px and 25px at 1440px.
font-size: clamp(1.125rem, 0.932rem + 0.7vw, 1.563rem);
}

h5 {
font-size: 32px;
}

h6 {
font-size: 28px;
}


.font-1 {
  font-family: $font-1;
}

.font-2 {
  font-family: $font-2;
}