body {
    // background-color: $brand-3 !important;
}

.hero-image {
    padding: 0;
    align-items: flex-end;
    padding-block: $padding-block-global-fb;
    padding-block: $padding-block-global;
}