.image-overlay-box {
    border-radius: 35px;   

    .header {
        text-align: center;
        margin-bottom: 0.75em;
    }
    p {
        margin-bottom: 1.5em;
    }
}

.content-high-img {
    height: fit-content;
    padding-block: $padding-block-global;
}