body {
    // background-color: $brand-3 !important;
}

.media-text {
    gap: 8vw;
    
    @media (min-width: 800px){
        gap: 4vw;
    }
    &__media{
        width: 100%;

        .wp-block-image {
            border-radius: 30px;
            overflow: hidden;

            img {
                scale: 1.1;
                transition: all 300ms ease-out;
            }

            &:hover {
                img {
                    scale: 1;
                }
            }
        }
    }   
    &__text {
        width: 100%;
        .wp-block-heading {
            color: $black;
        }
    }
   
}